<h1>Direction Aware Hover</h1>
<div class="container cf">

  <div class="boxes"><img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image1.jpg">
    <div class="overlay"></div>
  </div>
  <div class="boxes"><img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image2.jpg">
    <div class="overlay"></div>
  </div>
  <div class="boxes"><img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image3.jpg">
    <div class="overlay"></div>
  </div>
  <div class="boxes"><img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image4.jpg">
    <div class="overlay"></div>
  </div>
  <div class="boxes"><img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image5.jpg">
    <div class="overlay"></div>
  </div>
  <div class="boxes"><img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image6.jpg">
    <div class="overlay"></div>
  </div>
</div>